body {
  margin: 0;
  background-image: url(home.jpg);
  background-size: cover;
  background-position: center;
}
h1 {
  color: azure;
}
h2 {
  color: white;
}
label {
  color: white;
}
fieldset {
  color: white;
}
nav ul li a {
  color: white;
}
 /* .image-grid {
  display: grid;
  gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 325px 325px;
  margin: 0px;
  max-width: 100px;
} */
table img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
nav { */
  color: white;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
table {
  columns: 3;
  grid-auto-rows: auto;
  text-align: center;
  border-collapse: collapse;
  width: auto;
  margin: 0;
  font-size: 20px;
}
td {
  border: 1px solid purple;
}

